<div class="container">
  <h1>Add a Tweet!</h1>
  <article>
    <form method="post" action="/users/<%=@user_id%>">
      <input type="text" placeholder="tell me a story" name="tweet[content]">
      <input type="submit" value="Tweet!">
    </form>
  </article>
</div>
