<div class="container">
  <h1>Add a Tweet!</h1>
  <article>
    <form method="post" action="/tweets/new">
      <input type="text" name="tweet[content]">
      <input type="submit" value="Tweet!">
    </form>
  </article>
</div>
