<div class="container">
  <h1>Here's a list of all your Tweets!</h1>
  <br>
  <br>
  <button>
    <a href="/users/<%=@user_id%>/tweets/new">Click to Tweet!</a>
  </button>
  <article class="tweets_border">
      <% @user_tweets.each do |id, content|  %>
        <ul><%= content %></ul>
      <% end %>
  </article>
</div>
