<div class="container">
  <h1>Welcome to Twitter, Jr.</h1>
  <p>Please log in or sign up.</p>

  <a href="/sessions/new">Click here to login!</a></br>
  <a href="/users/new">Click here to Sign Up!</a>
</div>
