<div class="container">
  <h1>Welcome to Twitter, Jr.</h1>
  <p>Please log in or sign up.</p>

  <p>
    <form method="post" action="/login">
      <input type="text" name="user_name" value="<%= @user.username %>">
      <input type="password" name="password">
      <input type="submit" value="Login">
    </form>
  </p>

  <p>
      <form method="post" action="/signup">
      <input type="text" name="user_name" value="<%= @user.username %>">
      <input type="password" name="password">
      <input type="submit" value="Signup">
    </form>
  </p>
</div>
